.footer {
    padding: 25px 15%;
    background: rgba(0, 0, 0, 0.647);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #2b324d;
}

.footer-text p {
    color: #a9adb6;
    font-size: 14px;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #3685B5;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    transition: all 0.4s ease;
}

.footer-iconTop a:hover {
    transform: translateY(-5px);
    background: #fff;
    color: #3685B5;
}

@media (max-width: 950px) {
    .footer {
        flex-direction: column;
        gap: 15px;
        padding: 20px 5%;
        text-align: center;
    }
}