/* src/components/Navbar.css */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15%;
  background: transparent;
  transition: all 0.5s ease;
}

header.sticky {
  background: #061826;
  padding: 15px 15%;
   box-shadow: 10px 10px 4px  rgba(0, 0, 0, 0.142);  
   z-index: 9999;
   border-radius: 10px;
   font-family: 'Outfit', sans-serif;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}


.logo img {
  width: 30px;
border-radius: 30px;
height: 30px;
background-color: #061826;
border: inset grey;
padding: 2px 2px;
object-fit: contain;
}


.navlist {
  display: flex;
}

.navlist li {
  list-style: none;
}

.navlist li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
  text-decoration: none;
}

.navlist li a:hover {
  color: #3685B5;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #3685B5;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.45s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: #fff;
  color: #3685B5;
}

.menu-icon {
  font-size: 30px;
  color: #fff;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #3685B5; /* Blue background */
    border-radius: 50%;   /* Circle */
    cursor: pointer;
    transition: all 0.4s ease;
    margin-right: 15px;   /* Space from the hamburger menu */
}

.theme-btn:hover {
    transform: scale(1.1); /* Pop effect */
    background: #fff;
}

.theme-icon {
    font-size: 22px;
    color: #fff;
}

.theme-btn:hover .theme-icon {
    color: #3685B5; /* Icon turns blue on hover */
}

.right-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1250px) {
  header {
    padding: 20px 5%;
  }
  header.sticky {
    padding: 14px 5%;
  }
}

@media (max-width: 950px) {
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    width: 100%;
    height: 120vh;
    background:  #061826;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    transition: all 0.5s ease;
  }
  .navlist.active {
    top: 0;
  }
  .btn{
display: none;
  }
  .navlist li a {
    display: block;
    margin: 1.5rem 0;
    font-size: 20px;
    color: #fff;
  }
  .menu-icon {
    display: block;
  }
}